<div class="container">
  <h2>Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email,
        class: "form-control #{'is-invalid' if resource.errors.messages[:email].any?}",
        autofocus: true,
        autocomplete: "email",
        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      <% resource.errors.messages[:email].each do |error| %>
        <div class="invalid-feedback"><%= "メールアドレス#{error}" %></div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "確認用メールを再送する", class: 'btn btn-dark' %>
    </div>
  <% end %>
</div>
