<div class="container">
  <h2>ATEにログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
    </div>

    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-dark' %>
    </div>
  <% end %>
</div>

<hr>

<div class="container">
  <%= link_to 'パスワードを忘れた場合', new_user_password_path %><br>
  <%= link_to '確認メールが届かない場合', new_user_confirmation_path %>
</div>
